@model ePizza.WebUI.Models.ProductViewModel
@{
    ViewData["Title"] = Model != null ? "Edit" : "Create";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewData["Title"]" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeId" class="control-label"></label>
                <select asp-for="ProductTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.ItemTypes,"Id","Name"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" asp-for="File" class="form-control" style="border:none;padding: .375rem 0;" />
                <span asp-validation-for="File" class="text-danger"></span>
                <br />
                @if (Model != null && !string.IsNullOrEmpty(Model.ImageUrl))
                {
                        <input type="hidden" asp-for="ImageUrl" />
                        <img id="itemImage" src="@Model.ImageUrl" height="150" width="150" style="border:1px solid" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                &nbsp; <a asp-action="Index" asp-controller="Product" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}